@import url('/static/pretendard.min.css');

BODY, FONT
	{
		font-family:Pretendard; 
		font-size:12px;
	} 

TD 	{ 	font-family:Pretendard; font-size:12pt;	font-weight: 400; }

A	{ font-family:Pretendard; font-size:12px ;text-decoration: none; color:black}  
A:hover { font-family:Pretendard; font-size:12px; text-decoration: none; color:red}

SELECT, TEXTAREA, INPUT 
	{font-family:Pretendard; font-size:9pt; color:#000000; background-color:#ffffff; border-width:1; border-color:#000000; border-style:solid;}

INPUT.radio { font-family:"Pretendard" ; font-size:12px ; background-color:#FFFFFF; border-color:#FFFFFF; border-style:solid } 

P.pageBreak {page-break-before:always} 

.textarea1 { clip: rect( ); overflow: hidden; font-size: 9pt} ;

.INPUT1
	{font-family:Pretendard; WIDTH:73; height:17; font-size:9pt; color:#000000; background-color:#ffffff; border-width:1; border-color:#000000; border-style:solid;}

.INPUT2
	{font-family:Pretendard; WIDTH:25; height:17; font-size:9pt; color:#000000; background-color:#ffffff; border-width:1; border-color:#000000; border-style:solid;}
.BUTTON2
	{font-family:Pretendard; WIDTH:28; height:17; font-size:9pt; color:#000000; background-color:#ffffff; border-width:1; border-color:#000000; border-style:solid;}

#main { margin: auto; }
@media only screen (max-width:480px) { #main { table-layout: fixed; width: 100%; } }

.day tr td:nth-child(5) { display: none; }

.sche { width: 100%; }
.sche tr td:nth-child(1) { width: 55px; }
.sche tr td:nth-child(1n+2) { width: 145px; }

.yasik { margin-top: 0px; margin-bottom: 0px; margin-right: 7px; }

.toggle-switchy {color:#fff;}
.toggle-switchy > input + .toggle:before {content:'YES';}
.toggle-switchy > input + .toggle:after {content:'NO';}
.toggle-switchy > input + .toggle > .switch {background:#fff;}
.toggle-switchy > input + .toggle + .label {color:#000;}
.toggle-switchy > input:checked + .toggle {background:#3498db;}
.toggle-switchy > input:not(:checked) + .toggle {background:#ccc;}
.toggle-switchy > input:checked + .toggle > .switch {border:3px solid #3498db;}
.toggle-switchy > input:not(:checked) + .toggle > .switch {border:3px solid #ccc;}
.toggle-switchy > input:focus + .toggle,
.toggle-switchy > input:active + .toggle {box-shadow:0 0 5px 3px rgba(0, 119, 200, 0.50);}

/* Rounded switch corners */
.toggle-switchy > input + .toggle {border-radius:4px;}
.toggle-switchy > input + .toggle .switch {border-radius:6px;}

/* //////////////////////////
CORE STYLES BELOW - NO TOUCHY
////////////////////////// */
.toggle-switchy {display:inline-flex; align-items:center; user-select:none; position:relative; vertical-align:middle; margin-bottom:0;}
.toggle-switchy:hover {cursor:pointer;}
.toggle-switchy > input {position:absolute; opacity:0;}
.toggle-switchy > input + .toggle {align-items:center; position:relative;}
.toggle-switchy > input + .toggle {overflow:hidden; position:relative; flex-shrink:0;}
.toggle-switchy > input[disabled] + .toggle {opacity:0.5;}
.toggle-switchy > input[disabled] + .toggle:hover {cursor:not-allowed;}
.toggle-switchy > input + .toggle {width:100%; height:100%; margin:0; cursor:pointer;}
.toggle-switchy > input + .toggle > .switch {display:block; height:100%; position:absolute; right:0; z-index:3; box-sizing:border-box;}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {display:flex; align-items:center; position:absolute; z-index:2; height:100%;}
.toggle-switchy > input + .toggle:before {right:55%;}
.toggle-switchy > input + .toggle:after {left:50%;}
.toggle-switchy > input + .toggle + .label {margin-left:10px;}
.toggle-switchy[data-label='left'] > input + .toggle {order:2;}
.toggle-switchy[data-label='left'] > input + .toggle + .label {order:1; margin-left:0; margin-right:5px;}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {opacity:0;}
.toggle-switchy > input:checked + .toggle:before {opacity:1;}
.toggle-switchy > input:checked + .toggle:after {opacity:0;}

/* Transitions */
.toggle-switchy > input + .toggle {transition:background 200ms linear, box-shadow 200ms linear;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {transition:all 200ms linear;}
.toggle-switchy > input + .toggle > .switch {transition:right 200ms linear, border-color 200ms linear;}
/* //////////////////////////
CORE STYLES ABOVE - NO TOUCHY
////////////////////////// */

.toggle-switchy > input + .toggle							{width:40px; height:19px;}
.toggle-switchy > input + .toggle > .switch					{width:20px;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after						{font-size:0.5rem;}
.toggle-switchy > input:not(:checked) + .toggle > .switch	{right:calc(100% - 20px);}

/* Style: Rounded */
.toggle-switchy > input + .toggle,
.toggle-switchy > input + .toggle > .switch			{border-radius:50px;}
.toggle-switchy > input + .toggle:before				{right:49%;}
.toggle-switchy > input + .toggle:after				{left:54%;}

